In [1]:
import pandas as pd

df = pd.read_csv("prep_fifa.csv")
df.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,110500,565,Left,...,96,33,28,26,6,11,15,14,8,226500.0
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000,405,Right,...,95,28,31,23,7,11,15,14,11,127100.0
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500,290,Right,...,94,27,24,33,9,9,15,15,11,228100.0
3,3,De Gea,27,Spain,91,93,Manchester United,72000,260,Right,...,68,15,21,13,90,85,87,88,94,138600.0
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000,355,Right,...,88,68,58,51,15,13,5,10,13,196400.0

In [6]:
df['Nationality']

0        Argentina
1         Portugal
2           Brazil
3            Spain
4          Belgium
           ...
18154      England
18155       Sweden
18156      England
18157      England
18158      England
Name: Nationality, Length: 18159, dtype: object

In [7]:
df['Name']

0                  L. Messi
1         Cristiano Ronaldo
2                 Neymar Jr
3                    De Gea
4              K. De Bruyne
                ...
18154          J. Lundstram
18155    N. Christoffersson
18156             B. Worman
18157        D. Walker-Rice
18158             G. Nugent
Name: Name, Length: 18159, dtype: object

In [2]:
df['Position']

0         RF
1         ST
2         LW
3         GK
4        RCM
        ...
18154     CM
18155     ST
18156     ST
18157     RW
18158     CM
Name: Position, Length: 18159, dtype: object

In [3]:
df['Body Type']

0             Messi
1        C. Ronaldo
2            Neymar
3              Lean
4            Normal
            ...
18154          Lean
18155        Normal
18156        Normal
18157          Lean
18158          Lean
Name: Body Type, Length: 18159, dtype: object

In [4]:
df['Preferred Foot']

0         Left
1        Right
2        Right
3        Right
4        Right
         ...
18154    Right
18155    Right
18156    Right
18157    Right
18158    Right
Name: Preferred Foot, Length: 18159, dtype: object

In [5]:
df['Body Type']

0             Messi
1        C. Ronaldo
2            Neymar
3              Lean
4            Normal
            ...
18154          Lean
18155        Normal
18156        Normal
18157          Lean
18158          Lean
Name: Body Type, Length: 18159, dtype: object